/*	css globales */
*{
	font-family: sans-serif;
}

html, body{
	margin: 8px;
	padding: 0px;
	height: 100%;
}

/* contenedor principal de la pagina */
#main_wrapper{
	min-height: 100%;
	position: relative;
}

/* configuracion del header */
header h1{
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-weight: 700;
	color: #ffffff;
	background-color: #880000;
	margin: 0px;
	padding: 0px;
	font-size: 30px;
}

/* organizacion de la parte central de la pagina */
#main_container{
	padding-bottom: 30px;
}

/* botones lateral */
aside{
	display: inline-block;
	background-color: #75A319;
	width: 18%;
	vertical-align: top;
}
aside nav ul {
	padding: 4px;
	padding-left: 10px;
	margin: 0px;
}
aside nav ul li {
	list-style: none;
	height: 22px;
	line-height: 22px;
}
aside nav ul li a{
	text-decoration: none;
	color: #ffffff;
}

/* contenidos de la pagina */
#contents {
	overflow: hidden;
	display: inline-block;
	width: 75%;
	padding: 0px;
	margin: 0 auto;
}
section {
	width: 90%;
	margin: 0 auto;
}

/* footer de la pagina */
footer {
	position: absolute;
	background-color: #8F4700;
	color: #ffffff;
	width: 100%;
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	bottom: 0px;
}

/* media queries */
@media (max-width: 600px) {
	aside{
		display: block;
		background-color: #CCE680;
		width: 100%;
		text-align: center;
		font-size: 20px;
	}
	aside nav ul li {
		height: 26px;
		line-height: 26px;
	}
	aside nav ul li a{
		color: #000000;
	}
}