<!-- 13. Limpiamos de los datos por defecto el componente HEAD.TS -->
<!-- 14. Crearemos un Navegador en nuestro caso con HTML y CSS -->

<!-- 15, Creamos la ETIQUETA CABECERA -->
<header>
    <nav>
<!-- 16. Creamos un ENLACE que nos lleve a la PAGINA DE INICIO que está en el RAIZ POR ESO COLOCAMOS "/"  y creamos todos nuestros enlaces ANCLA con el mismo formato Con esto hemos conformado una Barra de Navegacion-->

        <a href="/">Inicio</a>
        <a href="/nosotros">Nosotros</a>
        <a href="/productos">Productos</a>
        <a href="/contacto">Contacto</a>

<!-- 27. Cambiaremos el llamado, en vez de usar HREF usaremos el ATRIBUTO DE ANGULAR "ROUTERLINK" para evitar la RECARGA DE LA PAGINA -->
<!-- 28. Probamos que no se RECARGE E IREMOS al archivo de estilos del HEADER.CSS -->

        <!-- <a routerLink="/">Inicio</a>
        <a routerLink="/nosotros">Nosotros</a>
        <a routerLink="/productos">Productos</a>
        <a routerLink="/contacto">Contacto</a> -->

<!-- 17. Ahora nos vamos a la clase de APP.TS -->
    </nav>
</header>